<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        culpa, doloremque cumque vel facere aspernatur hic. Dicta illo tenetur
        minus repudiandae! Dolorem voluptatem velit maiores distinctio odit nam
        animi rem.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro magnam
        aliquid, voluptatibus adipisci beatae qui, quos ipsam, quam modi numquam
        dolore voluptate. Est asperiores veniam repellat voluptatem itaque
        quibusdam at?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias itaque
        repellendus eius, earum tempora et repudiandae eligendi rem expedita
        debitis consequatur magnam, suscipit veniam, amet aliquid odio libero
        praesentium. Placeat?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
